<!DOCTYPE html>
<html>
<head>
<title>学生中心</title>
<!-- for-mobile-apps -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
		function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- //for-mobile-apps -->
<link href="css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
<link href="css/style.css" rel="stylesheet" type="text/css" media="all" />
<!-- js -->
<script src="js/jquery-1.11.1.min.js"></script>

<link rel="apple-touch-icon" sizes="76x76" href="{$Think.const.HOME_IMAGES_URL}apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="{$Think.const.HOME_IMAGES_URL}favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="{$Think.const.HOME_IMAGES_URL}favicon-16x16.png">
<link rel="manifest" href="{$Think.const.HOME_IMAGES_URL}manifest.json">
<link rel="mask-icon" href="{$Think.const.HOME_IMAGES_URL}safari-pinned-tab.svg" color="#5bbad5">
<meta name="theme-color" content="#ffffff">
</head>
	
<body>
<!-- banner -->
	<div class="banner1">
		<div class="container">
			<div class="logo">
				<a href="index.html"><img src="images/logo.png" alt="浙江科技学院安吉校区学生事务管理系统"  /></a>
			</div>
			<nav class="navbar navbar-default">
				<!-- Collect the nav links, forms, and other content for toggling -->
				<div class="collapse navbar-collapse nav-wil" id="bs-example-navbar-collapse-1">
				<nav class="stroke">
						<ul class="nav navbar-nav">
							<li class="active"><a href="index.html">首页</a></li>
							<li><a href="information.html">问卷调查</a></li>
							<li style="margin-top:-50px;"><a href="index.html" style="hover:color:#FFFFFF"><img src="{$Think.const.HOME_IMAGES_URL}logo.png" alt="浙江科技学院安吉校区学生事务管理系统"></a></li>
							<li><a href="hdzx_t.html">活动中心</a></li>
							<li><a href="leave_s.html">离校统计</a></li>
						</ul>
						<div class="landing"><a href="{$Think.const.SITE_URL_L}home/login/index"><input type="submit" value="登录" ></a></div>
					</nav>					
				</div>
				<!-- /.navbar-collapse -->
			</nav>
		
			<!--End-slider-script-->
		</div>
	</div>
<!-- banner -->
<!-- single -->
	<div class="single">
		<div class="container">
			<div class="col-md-7 blog-left" style="margin-top: -50px;margin-bottom: 30px;">
				<div class="blog-left-grid">
					<h1>学生中心</h1>
					
				</div>
				
			</div>
			<div class="col-md-5 blog-right" style="float: right;width: 850px;">
				<div class="blog-right1">
					

					
					
				</div>
			</div>

			<div class="grid_3 grid_5">
				<div class="bs-example bs-example-tabs" role="tabpanel" data-example-id="togglable-tabs">
					<ul id="myTab" class="nav nav-tabs" role="tablist">
						<li role="presentation" class="active"><a href="#undoing" id="undoing-tab" role="tab" data-toggle="tab" aria-controls="undoing" aria-expanded="true">未开始的活动</a></li>

						<li role="presentation"><a href="#doing" id="doing-tab" role="tab" data-toggle="tab" aria-controls="doing" aria-expanded="true">进行中的活动</a></li>

						<li role="presentation"><a href="#baoming" role="tab" id="baoming-tab" data-toggle="tab" aria-controls="baoming">已报名的活动</a></li>

						<li role="presentation"><a href="#finish" role="tab" id="finish-tab" data-toggle="tab" aria-controls="finish">已结束的活动</a></li>
					</ul>
					<div id="myTabContent" class="tab-content">
                    		<div role="tabpanel" class="tab-pane fade in active" id="undoing" aria-labelledby="undoing-tab">
					<div class="categories">
						<ul>
							<li><a href="active.html">“GOLAD YOU COME”主题晚会doing</a><span>2016-11-12</span></li>
							<li><a href="active.html">新年晚会节目征集</a><span>2016-11-14</span></li>
							<li><a href="active.html">怡学怡用技能培训之文书撰写</a><span>2016-11-20</span></li>
						</ul>
					</div>
						</div>

						<div role="tabpanel" class="tab-pane fade " id="doing" aria-labelledby="doing-tab">
					<div class="categories">
						<ul>
							<li><a href="active.html">“GOLAD YOU COME”主题晚会doing</a><span>2016-11-12</span></li>
							<li><a href="active.html">新年晚会节目征集</a><span>2016-11-14</span></li>
							<li><a href="active.html">怡学怡用技能培训之文书撰写</a><span>2016-11-20</span></li>
						</ul>
					</div>
						</div>

				<div role="tabpanel" class="tab-pane fade" id="baoming" aria-labelledby="baoming-tab">
					<div class="categories">
						<ul>
							<li><a href="active.html">“GOLAD YOU COME”主题晚会baoming</a><span>2016-11-12</span></li>
							<li><a href="active.html">新年晚会节目征集</a><span>2016-11-14</span></li>
							<li><a href="active.html">怡学怡用技能培训之文书撰写</a><span>2016-11-20</span></li>
						</ul>
					</div>
					
						</div>

						<div role="tabpanel" class="tab-pane fade" id="finish" aria-labelledby="finish-tab">
					<div class="categories">
						<ul>
							<li><a href="active.html">“GOLAD YOU COME”主题晚会finish</a><span>2016-11-12</span></li>
							<li><a href="active.html">新年晚会节目征集</a><span>2016-11-14</span></li>
							<li><a href="active.html">怡学怡用技能培训之文书撰写</a><span>2016-11-20</span></li>
						</ul>
					</div>
						</div>
					</div>
				</div>
			</div>


			<div class="clearfix"> </div>
		
		</div>
	</div>
<!-- //single -->
<!-- contact-us -->

<!-- //contact-us -->
<!-- footer -->
	<div class="twitter-comment">
		<div class="container">
			
			<p>版权所有 © 浙江科技学院 support@zust.edu.cn 浙ICP备11051284号<br> 地址：浙江·杭州市留和路318号 邮编：310023</p>
		</div>
	</div>
<!-- //footer -->
<!-- scroll_top_btn -->
		<script type="text/javascript" src="js/move-top.js"></script>
		<script type="text/javascript" src="js/easing.js"></script>
	    <script type="text/javascript">
			$(document).ready(function() {
			
				var defaults = {
		  			containerID: 'toTop', // fading element id
					containerHoverID: 'toTopHover', // fading element hover id
					scrollSpeed: 1200,
					easingType: 'linear' 
		 		};
				
				
				$().UItoTop({ easingType: 'easeOutQuart' });
				
			});
		</script>
		 <a href="#" id="toTop" style="display: block;"><span id="toTopHover" style="opacity: 1;"></span></a>
<!--end scroll_top_btn -->
<!-- for bootstrap working -->
	<script src="js/bootstrap.js"></script>
<!-- //for bootstrap working -->
</body>
</html>