<!DOCTYPE html>
<html>
<head>
<title>浙江科技学院安吉校区学生事务管理系统</title>
<!-- for-mobile-apps -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
		function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- //for-mobile-apps -->
<link href="css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
<link href="css/style.css" rel="stylesheet" type="text/css" media="all" />
<link rel="stylesheet" href="css/normalize.css">
<link rel="stylesheet" type="text/css" href="css/default.css">
<!-- js -->
<script src="js/jquery-1.11.0.min.js"></script>
<script src="js/jquery.min.js" type="text/javascript"></script>
<script>window.jQuery || document.write('<script src="js/jquery-1.11.0.min.js"><\/script>')</script>
<script src="js/pinterest_grid.js"></script>
<script type="text/javascript">
		$(function(){
			$("#gallery-wrapper").pinterest_grid({
				no_columns: 3,
                padding_x: 20,
                padding_y: 20,
                margin_bottom: 0,
                single_column_breakpoint: 700
			});
			
		});
</script>
<link rel="apple-touch-icon" sizes="76x76" href="{$Think.const.HOME_IMAGES_URL}apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="{$Think.const.HOME_IMAGES_URL}favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="{$Think.const.HOME_IMAGES_URL}favicon-16x16.png">
<link rel="manifest" href="{$Think.const.HOME_IMAGES_URL}manifest.json">
<link rel="mask-icon" href="{$Think.const.HOME_IMAGES_URL}safari-pinned-tab.svg" color="#5bbad5">
<meta name="theme-color" content="#ffffff">
</head>
	
<body>
<!-- banner -->
	<div class="banner">
		<div class="container">
			<div class="logo">
				<a href="index.html"><img src="images/logo.png" alt="浙江科技学院安吉校区学生事务管理系统"></a>
			</div>
			<nav class="navbar navbar-default">
				<!-- Collect the nav links, forms, and other content for toggling -->
				<div class="collapse navbar-collapse nav-wil" id="bs-example-navbar-collapse-1">
			<nav class="stroke">
						<ul class="nav navbar-nav">
							<li class="active"><a href="index.html">首页</a></li>
							<li><a href="information.html">问卷调查</a></li>
							<li style="margin-top:-50px;"><a href="index.html" style="hover:color:#FFFFFF"><img src="{$Think.const.HOME_IMAGES_URL}logo.png" alt="浙江科技学院安吉校区学生事务管理系统"></a></li>
							<li><a href="hdzx_t.html">活动中心</a></li>
							<li><a href="leave_s.html">离校统计</a></li>
						</ul>
						<div class="landing"><a href="{$Think.const.SITE_URL_L}home/login/index"><input type="submit" value="登录" ></a></div>
					</nav>
					
				</div>
				<!-- /.navbar-collapse -->
			</nav>

			<section class="slider">
				<div class="flexslider">
					<ul class="slides">
						<li>s
							<div class="banner-info">
								<h3>静以修身</h3>
								<h6>A light heart lives long.</h6>
							</div>
						</li>
						<li>
							<div class="banner-info">
								<h3>光说空话不做事，犹如花园光长刺</h3>
								<h6>A man of words and not of deeds is like a garden full of weeds.</h6>
							</div>
						</li>
						<li>
							<div class="banner-info">
								<h3>健全的精神寓于健康的身体</h3>
								<h6>A sound mind in a sound body.</h6>
							</div>
						</li>
					</ul>
				</div>
			</section>
				<!--FlexSlider-->
					<link rel="stylesheet" href="css/flexslider.css" type="text/css" media="screen" />
					<script defer src="js/jquery.flexslider.js"></script>
					<script type="text/javascript">
					$(window).load(function(){
					  $('.flexslider').flexslider({
						animation: "slide",
						start: function(slider){
						  $('body').removeClass('loading');
						}
					  });
					});
				  </script>
			<!--End-slider-script-->
		</div>
	</div>
<!-- banner -->
<!-- banner-input -->
	<div class="banner-input">
		<div class="container">
			<form>
				<input type="text" value="待搜索的活动名称" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = '待搜索的活动名称';}" required="">
				<select id="country" onchange="change_country(this.value)" class="frm-field required">
					<option value="null">类别 1</option>
					<option value="null">类别 2</option>         
					<option value="AX">类别 3</option>
					
				</select>
				<input class="date" id="datepicker" type="text" value="2016/11/14" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = '2016/11/14';}" required="">
				<i class="glyphicon glyphicon-search" aria-hidden="true"></i>
				<input type="submit" value=" " >
				<div class="clearfix"> </div>
			</form>
				<!---strat-date-piker---->
					<link rel="stylesheet" href="css/jquery-ui.css" />
					<script src="js/jquery-ui.js"></script>
					  <script>
							  $(function() {
								$( "#datepicker" ).datepicker();
							  });
					  </script>
				<!---/End-date-piker---->
		</div>
	</div>


	<div class="latest-posts">
		<div class="container"> 
			<h3>精彩活动</h3>
			<p class="iusto">The events are about to start.</p>
			</div>
		<section id="gallery-wrapper">
		<article class="white-panel">
			<img src="images/jiaoshou1.jpg" class="thumb">
			<h1><a href="active.html">博雅论坛第八讲：<br>走进职业汉语——ZHC国家职业汉语能力测试考前培训系列讲座</a></h1>
	  		<div id="wrap"><p>中华民族的文化源远流长，从仓颉造字之前，中国就拥有了世界上最美丽的语言——汉语。但是，在汉语被广泛应用的今天，你真的会运用汉语吗？那就让我们在国家职业汉语高级教师郑淑琪老师、人文与国际学院李正爱副教授的带领下，进一步领略汉语的灵魂之美！</p></div>
	  		<div class="latest-posts-grid11-left">
				<p><span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>2016/10/25</p>
			</div>
			<div class="latest-posts-grid11-right">
				<a href="active.html"><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>我要报名</a>
			</div>
		</article>
		<article class="white-panel">
			<img src="images/jiaoshou3.jpg" class="thumb">
			<h1><a href="active.html">黄浦江源：<br>昆曲大师说昆曲</a></h1>
	  		<div id="wrap"><p>5月23日，黄浦江源大讲堂暨“喜迎G20中国长三角高峰论坛”分论坛在我校开讲，原浙江京昆艺术剧院院长，著名昆剧表演艺术家汪世瑜，江苏省苏州昆剧院院长蔡少华，南京大学文学院教授刘俊和文学博士、中国作家协会会员吕林，四位主讲嘉宾作主题演讲，为现场观众带来一场昆曲盛宴。</p></div>
	  		<div class="latest-posts-grid11-left">
				<p><span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>2016/10/25</p>
			</div>
			<div class="latest-posts-grid11-right">
				<a href="active.html"><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>我要报名</a>
			</div>
		</article>
		<article class="white-panel">
			<img src="images/jiaoshou5.jpg" class="thumb">
			<h1><a href="active.html">硕彦讲坛:<br>教育部长江学者冯世进教授来我校讲学</a></h1>
	  		<div id="wrap"><p>2016年6月22日，应我校土木与建筑工程学院邀请，教育部长江学者、同济大学博士生导师冯世进教授来我校讲学。报告会由建工学院院长罗战友教授主持，学院副院长程泽海教授、土木工程系部分老师、土木工程专业全体研究生和部分本科生参加了此次学术报告。</p></div>
	  		<div class="latest-posts-grid11-left">
				<p><span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>2016/10/25</p>
			</div>
			<div class="latest-posts-grid11-right">
				<a href="active.html"><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>我要报名</a>
			</div>
		</article>
		<article class="white-panel">
			<img src="images/jiaoshou6.png" class="thumb">
			<h1><a href="active.html">明理讲堂:<br>了解情绪，管理情绪，快乐从“心”开始</a></h1>
	  		<div id="wrap"><p>龚惠香给师生们带来了几个小游戏——心有千千结、情绪红绿灯，借此阐述情绪和心理的联系。通过此次讲座，同学们纷纷表示，要学会做自己情绪管理的主人，快乐从“心”开始，愉快的度过大学生活。</p></div>
	  		<div class="latest-posts-grid11-left">
				<p><span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>2016/10/25</p>
			</div>
			<div class="latest-posts-grid11-right">
				<a href="active.html"><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>我要报名</a>
			</div>
		</article>
		<article class="white-panel">
			<img src="images/jiaoshou4.jpg" class="thumb">
			<h1><a href="active.html">博雅论坛:<br>中国人民大学中文系博士姜文振来我校讲学</a></h1>
	  		<div id="wrap"><p>你是否曾和孔孟对话，与李杜共语；和书本拥抱，与大师交流
			你是否正穿梭在大千世界中感受美，发现美，创造美
			你是否也想有人同你从诗词歌赋谈到人生哲学
			博雅论坛邀你一起——与经典同行，绘人生底色；与博览共游，拓视野广阔。
			</p></div>
	  		<div class="latest-posts-grid11-left">
				<p><span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>2016/10/25</p>
			</div>
			<div class="latest-posts-grid11-right">
				<a href="active.html"><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>我要报名</a>
			</div>
		</article>
		<article class="white-panel">
			<img src="images/jiaoshou2.jpg" class="thumb">
			<h1><a href="active.html">【外教带你看世界】第六讲：<br>Romance and Culture</a></h1>
	  		<div id="wrap"><p>   你是否了解西方的文化底蕴？你是否想要有一场romantic的爱情？一次浪漫、文化与你的邂逅即将展开。
			福利来啦，这次我们可爱的外教Sorcha将会为我们介绍西方的浪漫与文化。心动不如行动，赶快来报名吧！
			。</p></div>
	  		<div class="latest-posts-grid11-left">
				<p><span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>2016/10/25</p>
			</div>
			<div class="latest-posts-grid11-right">
				<a href="active.html"><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>我要报名</a>
			</div>
		</article>
    </section>
	</div>

<!-- //latest-posts -->
<!-- subscribe -->
	<div class="subscribe">
		<div class="container">
			<div class="subscribe-left">
				<h1>提出建议</h1>
				<p class="iusto">If you have found questions in the use of the process or can also improve the place, please send a message to tell us your proposa.</p>
			</div>
			<div class="subscribe-right">
				<p>如对系统、事务、教师工作方面有任何问题的，请留下您的邮箱，我们一定第一时间联系您。</p>
			</div>
			<div class="clearfix"> </div>
			<div class="subscribe-pos">
				<form>
					<input type="email" value="Email" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Email';}" required="">
					<input type="submit" value="提交" >
				</form>
			</div>
		</div>
	</div>
<!-- //subscribe -->
<!-- twitter-comment -->
	<div class="twitter-comment">
		<div class="container">
			
			<p>版权所有 © 浙江科技学院 support@zust.edu.cn 浙ICP备11051284号<br> 地址：浙江·杭州市留和路318号 邮编：310023</p>
		</div>
	</div>

	<script type="text/javascript" src="js/move-top.js"></script>
		<script type="text/javascript" src="js/easing.js"></script>
	    <script type="text/javascript">
			$(document).ready(function() {
			
				var defaults = {
		  			containerID: 'toTop', // fading element id
					containerHoverID: 'toTopHover', // fading element hover id
					scrollSpeed: 1200,
					easingType: 'linear' 
		 		};
				
				
				$().UItoTop({ easingType: 'easeOutQuart' });
				
			});
		</script>
		 <a href="#" id="toTop" style="display: block;"><span id="toTopHover" style="opacity: 1;"></span></a>

<!-- for bootstrap working -->
	<script src="js/bootstrap.js"></script>
<!-- //for bootstrap working -->
</body>
</html>