 .btn-outline-secondary {
            background-color: #263238;
            border-color: #263238;
            color: white;
        }
        
        .btn-width {
            width: 10rem;
            height: 3rem;
        }
        
        .btn-height {
            height: 2.5rem;
            font-size: 1rem;
        }
        
        .btn-margin {
            margin-bottom: 0.3rem;
        }
        
        .landing2 {
            position: fixed;
            z-index: 100;
            right: 2%;
            top: -0.8%;
            margin-top: 2.5rem;
            
        }
        .landing2 button{
             transition:0.2s;

        }
        .landing2 button:hover{
        color: grey;
        }
        .landing2 button:focus{
            color: grey;
            outline: 0;
        }
        
        .welcome2 {
            position: fixed;
            z-index: 100;
            right: 2%;
            top: 1.8rem;
            color: white;
            font-size: 1.4rem;
            padding: 12px;
        }
        
        .welcome2 a {
            font-size: 1.4rem;
        }
        
        .btn-load {
            font-size: 1em;
            padding-top: 0.5em;
            padding-bottom: 0.5em;
        }
        
        .ischool {
            position: relative;
            top: 2%;
            left: 4%;
        }
        
        .active-first {
            position: absolute;
            bottom: 2%;
            left: 8.5rem;
            width: 20rem;
            font-weight: lighter;
        }
        
        .bigbox {
            width: 80%;
            height: 70%;
            margin: 10rem auto;
            background-color: white;
            z-index: 100;
            padding-top: 0.5rem;
            font-weight: lighter;
        }
        
        .box {
            height: 25%;
            width: 100%;
            padding-bottom: 0.5rem;
            padding-right: 1rem;
        }
        
        .img {
            width: 20%;
            height: 99%;
            float: left;
            background-image: url(/item/students/{$actives[2]['big_image']});
            background-size: cover;
            margin-right: 0.5rem;
        }
        
        .section {
            overflow: hidden;
        }
        
        .box1 p {
            font-size: 150%;
        }
        
        .box1 {
            float: right;
            width: 75%
        }
        
        #section1 {
            /* background-image: url(../images/section2back.png); */
            background-size: cover;
            overflow: hidden;
        }
        
        .activelist {
            position: absolute;
            top: 2%;
            left: 10%;
            z-index: 100;
            width: 20rem;
            font-weight: lighter;
        }
        
        .shape {
            border-radius: 50%;
            margin-right: 1rem;
            color: black;
        }
        
        .page-position {
            position: absolute;
            left: 45%;
        }
        
        .page-css {
            opacity: 0
        }
        
        .page-link {
            border: 0;
        }
        
        .pagination a:hover {
            background-color: #263238;
            color: white;
        }
        
        .img-position {
            float: left;
            margin-right: 1rem;
        }
        
        .bottom {
            z-index: 10000;
            color: white;
            position: absolute;
            bottom: 5%;
            left: 25%
        }
        
        .box5s {
            height: 44%;
            margin-bottom: 2rem;
            background-color: white;
           
            margin-left: 19rem;
        }
        
        .img5s {
            float: left;
            height: 100%;
            width: 50%;
            background-image:url(/item/students/{$actives[0]['big_image']});
            background-size: cover;
            margin-left: -19rem;
        }
        
        .bigbox2 {
            width: 80%;
            height: 70%;
            z-index: 100;
            margin: 8rem auto;
            margin-top: 10rem;
            font-weight: lighter;
        }
        
        .midbox5s {
            margin-top: 1rem;
            height: 89%;
            border-bottom: 1px solid #898484;
            font-weight: lighter;
            overflow: hidden;
            padding-left: 2rem;
            padding-right: 3rem;
            padding-top: 1rem;
        }
        

        
        .box6s {
            height: 42%;
            width: 49%;
            float: left;
            background-color: white;
        }
        
        .img6s {
            height: 100%;
            width: 50%;
            background-image:url(/item/students/{$actives[1]['big_image']});
            background-size: cover;
            float: left;
        }
        
        .img7s {
            height: 100%;
            width: 50%;
            background-image:url(/item/students/{$actives[2]['big_image']});
            background-size: cover;
            float: left;
        }
        
        .midbox6s {
            height: 88.5%;
            border-bottom: 1px solid #898484;
            font-weight: lighter;
            margin-left: 14rem;
            overflow: hidden;
            padding-left: 1.3rem;
            padding-right: 1.1rem;
            padding-top: 0.6rem;
        }
        
        .box7 {
            float: right;
            height: 42%;
            width: 49%;
            background-color: white;
            font-weight: lighter;
        }
        
        .activemore {
            position: relative;
            bottom: 8%;
            right:;
            width: 15rem;
            font-weight: lighter;
        }
        
        .ljgd {
            margin-right: 0.5rem;
            margin-top: -0.3rem;
            width: 1.1rem;
            height: 1.1em;
        }
        
        .midbox5s p {
            line-height: 2.65rem;
            text-indent: 2rem;
        }
        
        .midbox6s p {
            line-height: 2.65rem;
            text-indent: 2rem;
            padding-right: 0.3rem;
        }
        
        .box5s a {
            color: #263238;
            transition: 0.2s;
        }
        
        .box5s a:hover {
            color: #666666;
        }
        
        .box6s a {
            color: #263238;
            transition: 0.2s;
        }
        
        .box6s a:hover {
            color: #666666;
        }
        
        .box7 a {
            color: #263238;
            transition: 0.2s;
        }
        
        .box7 a:hover {
            color: #666666;
        }
        
        .p1 {
            font-size: 1rem;
        }
        
        .indent {
            text-indent: 2rem;
        }
        
        #pro {
            color: #263238;
            transition: 0.2s;
        }
        
        #pro:hover {
            color: #666666;
        }

        
        .theme {
            position: relative;            
            color: white;
            bottom: 5%;
        }
