/* css滚屏 */

body {
color:#222;-webkit-text-size-adjust:none;
}

body,h1,h2,h3,h4,h5,h6,hr,p,blockquote,
dl, dt,dd,ul,ol,li,pre,form,fieldset,
legend,button,input,textarea,th,td,iframe {
	margin:0; padding:0;
}

h1,h2,h3,h4,h5,h6 {
font-size:100%;
}

body,button,input,select,textarea {
font-family:Tahoma,Arial,Roboto,"Droid Sans","Helvetica Neue",
"Droid Sans Fallback","Heiti SC",sans-self; font-size:62.5%; line-height:1.5;
}

ol,ul {
	list-style:none;
}

html,body{ 
	width:100%; height:100%; overflow:hidden;
}

img, object { max-width: 100%;}

.main {float: right;width: 70%;}
.leftBar {float: left;width: 25%;}

.section-wrap{ 
	width:100%; height:100%;
	overflow:visible; transition:transform 1s cubic-bezier(0.86,0,0.03,1);
	-webkit-transition:-webkit-transform 1s cubic-bezier(0.86,0,0.03,1);
}

.section-wrap .section{ 
	position:relative; width:100%; 
	height:100%; background-position:center center;
	background-repeat:no-repeat;
}

.section-wrap .section .title{
	width:100%; position:absolute;top:10%;position: relative;
	color:#fff; font-size:2.4em; text-align:center;
}

.section-wrap .section .title p{ 
	padding:0 4%; opacity:0;
}

.section-wrap .section .title.active .tit{
    font-size: 30px;
 opacity:1; transform:translateY(-25px);
 -webkit-transform:translateY(-25px); transition:all 2s cubic-bezier(0.86,0,0.8,1);
 -webkit-transition:all 2s cubic-bezier(0.86,0,0.8,1);
}

.tit{
	    position:absolute;
	    height:auto;
	    width:auto;
	    left: 18%;
	    margin-top:260px;
}

.mid-btn{
	margin:0 auto;
		position:absolute;
	    height:auto;
	    width:auto;
	    /* left: 18%; */
	    /* margin-top:220px; */
}
.section-wrap .section-1{
    background-color:#255396;
    background-image:url(../css滚屏代码/image/section1back1280.png);
    background-size: 100%;
}


.section-wrap .section-2{ 
	background-color:#5cb85c;
	background-image:url(../css滚屏代码/image/section1back1280.png);
    background-size: 100%;
}

.section-wrap .section-3{ 
	background-color:#5bc0de;
	background-image:url(../css滚屏代码/image/section1back1280.png);
    background-size: 100%;
}

/* .section-wrap .section-4{ 
	background-color:#f0ad4e
}

.section-wrap .section-5{ 
	background-color:#d9534f
} */

.put-section-0{ 
	transform:translateY(0); -webkit-transform:translateY(0);
}

.put-section-1{ 
	transform:translateY(-100%); -webkit-transform:translateY(-100%);
}

.put-section-2{
    transform:translateY(-200%); -webkit-transform:translateY(-200%);
}

.put-section-3{ 
	transform:translateY(-300%); -webkit-transform:translateY(-300%);
}

.put-section-4{ 
	transform:translateY(-400%); -webkit-transform:translateY(-400%);
}

.section-btn{ 
	width:14px; position:fixed; right:4%; top:50%;
}

.section-btn li{ 
	width:14px; height:14px; cursor:pointer; text-indent:-9999px;
	border-radius:50%; -webkit-border-radius:50%; margin-bottom:12px; 
	background:#BD362F; text-align:center; color:#fff; onsor:pointer;
}

.section-btn li.on{
    background:#fff;
}

.arrow{ 
	opacity:1;animation:arrow 3s cubic-bezier(0.5,0,0.1,1) infinite;
	-webkit-animation:arrow 3s cubic-bezier(0.5,0,0.1,1) infinite;
	transform:rotate(-90deg); -webkit-transform:rotate(-90deg); 
	position:absolute;bottom:10px;left:50%;margin-left:-30px;
	width:60px; height:60px;border-radius:100%; -webkit-border-radius:100%;
	line-height:60px; text-align:center; font-size:20px; color:#fff;
	border:1px solid #fff; cursor:pointer; overflow:hidden;
}

.arrow:hover{ 
	animation-play-state:paused; -webkit-animation-play-state:paused;
}

@keyframes arrow{ 
	%0,%100{
		bottom:10px; opacity:1;
		} 
		50%{
			bottom:50px; opacity:.5
		   }
}

@-webkit-keyframes arrow{ 
	%0,%100{
		bottom:10px; 
		opacity:1;
		} 
		50%{
			bottom:50px; opacity:.5
		   } 
}
/* 以上为css滚屏代码	 */

/* 登录按钮 */
.site-demo-button .layui-btn + .layui-btn {
    margin-left: 0;
}

.layui-btn {
    display: inline-block;
    height: auto;
    line-height:auto;
    padding: 0 18px;
    background-color: #385056;
    color: #fff;
    white-space: nowrap;
    text-align: center;
    font-size: 14px;
    border: none;
    border-radius: 2px;
    cursor: pointer;
    opacity: .9;
    filter: alpha(opacity=90);
}

.login-btn {
	width:auto; height: auto; float:right;
}
/* 以上为登录按钮代码 */

/* 问卷调查等首页第一屏居中按钮 */
.site-demo-button .layui-btn {
    margin: 0 7px 10px 0;
}
.layui-btn-big {
    height: auto;
    line-height: 44px;
    padding: 0 25px;
    font-size: 16px;
}
.layui-btn-primary {
    border: 1px solid #C9C9C9;
    background-color: #fff;
    color: #555;
}
.layui-btn-radius {
    border-radius: 100px;
}
.layui-btn {
    display: inline-block;
    height: auto;
    line-height: 38px;
    padding: 0 50px;
    background-color: #385056;
    color: #fff;
    white-space: nowrap;
    text-align: center;
    font-size: 14px;
    border: none;
    border-radius: 2px;
    cursor: pointer;
    opacity: .9;
    filter: alpha(opacity=90);
}
.layui-btn, .layui-input, .layui-select, .layui-textarea, .layui-upload-button {
    outline: 0;
    -webkit-transition: border-color .3s cubic-bezier(.65,.05,.35,.5);
    transition: border-color .3s cubic-bezier(.65,.05,.35,.5);
    -webkit-box-sizing: border-box !important;
    -moz-box-sizing: border-box !important;
    box-sizing: border-box !important;
/*     width: 200px; 
height: 50px;
margin-top: 20%;
margin-left: 30%; */
}
.layui-btn, .layui-tree li i, .layui-unselect {
    -moz-user-select: none;
}
.layui-btn, .layui-unselect {
    -webkit-user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
}
.layui-btn, .layui-inline, img {
    vertical-align: middle;
}
.layui-btn:hover{
	opacity: .8;
	filter: alpha (opacity=80);
	color: #fff;
}
.layui-btn-normal{
	background-color:#385056; 
}

.logo{
	width: 82px;
	height:32px;
}


.layui-layer-title {
    padding: 0 80px 0 20px;
    height: 42px;
    line-height: 42px;
    border-bottom: 1px solid #eee;
    font-size: 14px;
    color: #333;
    overflow: hidden;
    background-color: #F8F8F8;
    border-radius: 2px 2px 0 0;
}