<!DOCTYPE html>
<html>
<head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

<title>活动列表</title>
<!-- for-mobile-apps -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
		function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- //for-mobile-apps -->
<link href="{$Think.const.HOME_CSS_URL}bootstrap.css" rel="stylesheet" type="text/css" media="all" />
<link href="{$Think.const.HOME_CSS_URL}style.css" rel="stylesheet" type="text/css" media="all" />
<!--  -->
<link rel="stylesheet" id="sytle-css" href="{$Think.const.HOME_CSS_URL}style2.css" type="text/css" media="all">
<link rel="stylesheet" id="ishayou-pc-css" href="{$Think.const.HOME_CSS_URL}ishayou-pc.css" type="text/css" media="all">
<link href="{$Think.const.ADMIN_CSS_URL}pagination.css" rel="stylesheet">
<link rel="apple-touch-icon" sizes="76x76" href="{$Think.const.HOME_IMAGES_URL}apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="{$Think.const.HOME_IMAGES_URL}favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="{$Think.const.HOME_IMAGES_URL}favicon-16x16.png">
<link rel="manifest" href="{$Think.const.HOME_IMAGES_URL}manifest.json">
<link rel="mask-icon" href="{$Think.const.HOME_IMAGES_URL}safari-pinned-tab.svg" color="#5bbad5">
<meta name="theme-color" content="#ffffff">
<link rel="apple-touch-icon" sizes="76x76" href="{$Think.const.HOME_IMAGES_URL}apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="{$Think.const.HOME_IMAGES_URL}favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="{$Think.const.HOME_IMAGES_URL}favicon-16x16.png">
<link rel="manifest" href="{$Think.const.HOME_IMAGES_URL}manifest.json">
<link rel="mask-icon" href="{$Think.const.HOME_IMAGES_URL}safari-pinned-tab.svg" color="#5bbad5">
<meta name="theme-color" content="#ffffff">
</head>
	
<body>
<!-- banner -->
	   <div class="banner1">
    <div class="container">
    
      <nav class="navbar navbar-default">
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse nav-wil" id="bs-example-navbar-collapse-1">
          <nav class="stroke">
            <ul class="nav navbar-nav">
              <li><a href="{$Think.const.SITE_URL_L}">首页</a></li>
              <li><a href="#">问卷调查</a></li>
              <li style="margin-top:-50px;"><a href="{$Think.const.SITE_URL_L}" style="hover:color:#FFFFFF"><img src="{$Think.const.HOME_IMAGES_URL}logo.png" alt="浙江科技学院安吉校区学生事务管理系统"></a></li>
              <li class="active"><a href="{$Think.const.SITE_URL_L}home/index/actives">活动中心</a></li>
              <li><a href="#">离校统计</a></li>
            </ul>
          </nav>
        
    
      
    </div>
  </div>
  </div>
<!-- banner -->
<!-- single -->
	<div class="single" >
		
			<div class="col-md-7 blog-left" style="margin-left:10%;width: 100%;margin-bottom: 50px;position:absolut; left:27%;">
				<div class="blog-left-grid" style="width: 200px;">
					<h1 style="left:-300px; position: absolute; top: 10px;">活动列表</h1>              
				</div>
        <form action="{$Think.const.SITE_URL_L}home/index/search">
            <div class="input-group" style="float: right;margin-right: 130px;width: 400px;margin-top: -38px; position:absolut; right:40%;">
                <input type="text" name="keyword" class="form-control input-lg" style="float: left;width: 300px;"><button class="button-group-addon btn btn-primary"  type="submit"  method="post" style="float: none;height: 46px;transition: 0.3s;">搜索</button> 
            </div>
        </form>
			</div>
		
 <div id="main" style="background: #f5f5f5;"><div id="container" style="margin-left: 100px;width: 85%">

<volist name ="actives" id ="vo">
     <section class="list">

        <div class=" mecc">
         <a href="#" target="_blank" class="iu">
     33 
     </a>
          <h2 class="mecctitle"> <a href="{$Think.const.SITE_URL_L}home/index/detailed/id/{$vo.id}">
         {$vo.title}</a> </h2>
          <address class="meccaddress">
          <time>
           发布人：{$vo.editor}</time>
          <time>
           发布时间：{$vo.time}  </time>
          </address>
        </div>
            <span class="titleimg">
            <a href="{$Think.const.SITE_URL_L}home/index/detailed/id/{$vo.id}">
            <img width="500" height="300" src="/item/students/{$vo.big_image}" class="attachment-thumbnail wp-post-image" alt="vffv">        </a>
            </span>
            <div class=" zaiyao" style="height: 90px;overflow: hidden;">
                <p>{$vo.content}</p>
        </div>
        <div class="clear"></div>
      </section>
  </volist>  
  </div></div>
    <!--list-->


        <div class="pages">  
            {$page}  
        </div>
		 
<!-- //single -->
<!-- contact-us -->

<!-- //contact-us -->
<!-- footer -->
	<div class="twitter-comment">
		<div class="container">
			
			<p>版权所有 © 浙江科技学院 support@zust.edu.cn 浙ICP备11051284号<br> 地址：浙江·杭州市留和路318号 邮编：310023</p>
		</div>
	</div>
<!-- //footer -->
<!-- scroll_top_btn -->
		<script type="text/javascript" src="js/move-top.js"></script>
		<script type="text/javascript" src="js/easing.js"></script>
	    <script type="text/javascript">
			$(document).ready(function() {
			
				var defaults = {
		  			containerID: 'toTop', // fading element id
					containerHoverID: 'toTopHover', // fading element hover id
					scrollSpeed: 1200,
					easingType: 'linear' 
		 		};
				
				
				$().UItoTop({ easingType: 'easeOutQuart' });
				
			});
		</script>
		 <a href="#" id="toTop" style="display: block;"><span id="toTopHover" style="opacity: 1;"></span></a>
<!--end scroll_top_btn
<!-- for bootstrap working -->
	<script src="{$Think.const.HOME_JS_URL}bootstrap.js"></script> -->
<!-- //for bootstrap working -->
</body>
</html>