wy<!DOCTYPE html>
<html>
<head>
<title>浙江科技学院安吉校区学生事务管理系统</title>
<!-- for-mobile-apps -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
		function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- //for-mobile-apps -->
<link href="{$Think.const.HOME_CSS_URL}bootstrap.css" rel="stylesheet" type="text/css" media="all" />
<link href="{$Think.const.HOME_CSS_URL}style.css" rel="stylesheet" type="text/css" media="all" />
<link href="{$Think.const.HOME_CSS_URL}style2.css" rel="stylesheet" type="text/css" media="all" />
<link rel="stylesheet" href="{$Think.const.HOME_CSS_URL}normalize.css">
<link rel="stylesheet" type="text/css" href="{$Think.const.HOME_CSS_URL}default.css">
<!-- js -->
<script src="{$Think.const.HOME_JS_URL}jquery-1.11.0.min.js"></script>
<script src="{$Think.const.HOME_JS_URL}jquery.min.js" type="text/javascript"></script>
<script>window.jQuery || document.write('<script src="{$Think.const.HOME_JS_URL}jquery-1.11.0.min.js"><\/script>')</script>
<script src="{$Think.const.HOME_JS_URL}pinterest_grid.js"></script>
<script type="text/javascript">
		$(function(){
			$("#gallery-wrapper").pinterest_grid({
				no_columns: 3,
                padding_x: 20,
                padding_y: 20,
                margin_bottom: 0,
                single_column_breakpoint: 700
			});
			
		});
</script>
<link rel="apple-touch-icon" sizes="76x76" href="{$Think.const.HOME_IMAGES_URL}apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="{$Think.const.HOME_IMAGES_URL}favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="{$Think.const.HOME_IMAGES_URL}favicon-16x16.png">
<link rel="manifest" href="{$Think.const.HOME_IMAGES_URL}manifest.json">
<link rel="mask-icon" href="{$Think.const.HOME_IMAGES_URL}safari-pinned-tab.svg" color="#5bbad5">
<meta name="theme-color" content="#ffffff">
</head>
	
<body>
<!-- banner -->
	<div class="banner">
		<div class="container">
		
			<nav class="navbar navbar-default">			
				<!-- Collect the nav links, forms, and other content for toggling -->
				<div class="collapse navbar-collapse nav-wil" id="bs-example-navbar-collapse-1">
					<nav class="stroke">
						<ul class="nav navbar-nav">
							<li class="active"><a href="{$Think.const.SITE_URL_L}">首页</a></li>
							<li><a href="{$Think.const.SITE_URL_L}Teachers/Index/questionnaire">问卷调查</a></li>
							<li style="margin-top:-50px;"><a href="#" style="hover:color:#FFFFFF"><img src="{$Think.const.HOME_IMAGES_URL}logo.png" alt="浙江科技学院安吉校区学生事务管理系统"></a></li>
							<li><a href="{$Think.const.SITE_URL_L}home/index/actives">活动中心</a></li>
							<li><a href="#">离校统计</a></li>
						</ul>
					<!-- 	<div class="landing"><a href="{$Think.const.SITE_URL_L}home/login/login"><input type="submit" value="登录" ></a></div> -->
					</nav>
					</nav>
				</div>
				<!-- /.navbar-collapse -->
			</nav>

			<section class="slider">
				<div class="flexslider">
					<ul class="slides">
						<li>s
							<div class="banner-info">
								<h3>静以修身</h3>
								<h6>A light heart lives long.</h6>
							</div>
						</li>
						<li>
							<div class="banner-info">
								<h3>光说空话不做事，犹如花园光长刺</h3>
								<h6>A man of words and not of deeds is like a garden full of weeds.</h6>
							</div>
						</li>
						<li>
							<div class="banner-info">
								<h3>健全的精神寓于健康的身体</h3>
								<h6>A sound mind in a sound body.</h6>
							</div>
						</li>
					</ul>
				</div>
			</section>
				<!--FlexSlider-->
					<link rel="stylesheet" href="{$Think.const.HOME_CSS_URL}flexslider.css" type="text/css" media="screen" />
					<script defer src="{$Think.const.HOME_JS_URL}jquery.flexslider.js"></script>
					<script type="text/javascript">
					$(window).load(function(){
					  $('.flexslider').flexslider({
						animation: "slide",
						start: function(slider){
						  $('body').removeClass('loading');
						}
					  });
					});
				  </script>
			<!--End-slider-script-->
		</div>
	</div>
<!-- banner -->
<!-- banner-input -->
<!-- 	<div class="banner-input">
		<div class="container">
			<form>
				<input type="text" value="待搜索的活动名称" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = '待搜索的活动名称';}" required="">
				<select id="country" onchange="change_country(this.value)" class="frm-field required">
					<option value="null">讲座类</option>
					<option value="null">体育类</option>         
					<option value="AX">书院类</option>
					
				</select>
				<input class="date" id="datepicker" type="text" value="2016/11/14" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = '2016/11/14';}" required="">
				<i class="glyphicon glyphicon-search" aria-hidden="true"></i>
				<input type="submit" value=" " >
				<div class="clearfix"> </div>
			</form>
				<!---strat-date-piker---->
				<!-- 	<link rel="stylesheet" href="{$Think.const.HOME_CSS_URL}jquery-ui.css" />
					<script src="{$Think.const.HOME_JS_URL}jquery-ui.js"></script>
					  <script>
							  $(function() {
								$( "#datepicker" ).datepicker();
							  });
					  </script> -->
				<!---/End-date-piker---->
	<!-- 	</div>
	</div> --> 


	<div class="latest-posts">
		<div class="container"> 
			<h3 style="font-size: 40px;height: 55px;">最新活动</h3>			
			<p class="iusto">The events are about to start.</p>
			<div class="readmore" style="float: right;margin-top: -100px;margin-right: 20px;"><a href="{$Think.const.SITE_URL_L}home/index/actives">更多活动</a></div>
			</div>
	    
		<section id="gallery-wrapper">
			<volist name="actives" id="vo">
		
			<div class="white-panel" style="height: 550px;">
				<div class="row" style="text-align: center;"><img src="/item/students/{$vo.big_image}" class="thumb" style="height: 245px;width: auto" ></div>
				<h1 style="height: 60px; line-height: 30px;  text-align:center"><a href="{$Think.const.SITE_URL_L}Home/Index/detailed/id/{$vo.id}">{$vo.title}</a></h1>
		  		<div id="wrap" style="height: 110px; margin-bottom: 10px;   overflow: hidden;  /*溢出隐藏*/
    text-overflow: ellipsis;"><p style="font-size:0.9rem">{$vo.content}</p></div>
		  		<div class="latest-posts-grid11-left" >
					<p><span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>{$vo.start}</p>
				</div>
				<div class="latest-posts-grid11-right">
					<a href="{$Think.const.SITE_URL_L}home/index/detailed/id/{$vo.id}"><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>我要报名</a>
				</div>
			</div>
			 </volist>
    </section>
<!--   <div class="row" style="width:1150px; margin:0 auto;">
  	<volist name="actives" id="vo">
	  <div class="col-sm-6 col-md-4" style="width: 380px;">
	    <div class="thumbnail">
	      <img src="/item/students/{$vo.big_image}" alt="{$Think.const.SITE_URL_L}Home/Index/detailed/id/{$vo.id}">
	      <div class="caption">
	        <h2>{$vo.title}</h2>
	        <p>{$vo.content}</p>
	        <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
	      </div>
	    </div>
	  </div>
	</volist>
</div><! end of the row -->

</div><!-- end of the latest post -->




<!-- //latest-posts -->
<!-- subscribe -->
	<div class="subscribe">
		<div class="container">
			<div class="subscribe-left">
				<h1>提出建议</h1>
				<p class="iusto">If you have found questions in the use of the process or can also improve the place, please send a message to tell us your proposa.</p>
			</div>
			<div class="subscribe-right" style="margin-top:45px;">
				<p>如对系统、事务、教师工作方面有任何问题的，请留下您的邮箱，我们一定第一时间联系您。</p>
			</div>
			<div class="clearfix"> </div>
			<div class="subscribe-pos">
				<form>
					<input type="email" value="Email" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Email';}" required="">
					<input type="submit" value="提交" >
				</form>
			</div>
		</div>
	</div>
<!-- //subscribe -->
<!-- twitter-comment -->
	<div class="twitter-comment">
		<div class="container">
			
			<p>版权所有 © 浙江科技学院 support@zust.edu.cn 浙ICP备11051284号<br> 地址：浙江·杭州市留和路318号 邮编：310023</p>
		</div>
	</div>

	<script type="text/javascript" src="{$Think.const.HOME_JS_URL}move-top.js"></script>
		<script type="text/javascript" src="{$Think.const.HOME_JS_URL}easing.js"></script>
	    <script type="text/javascript">
			$(document).ready(function() {
			
				var defaults = {
		  			containerID: 'toTop', // fading element id
					containerHoverID: 'toTopHover', // fading element hover id
					scrollSpeed: 1200,
					easingType: 'linear' 
		 		};
				
				
				$().UItoTop({ easingType: 'easeOutQuart' });
				
			});
		</script>
		 <a href="#" id="toTop" style="display: block;"><span id="toTopHover" style="opacity: 1;"></span></a>

<!-- for bootstrap working -->
	<script src="{$Think.const.HOME_JS_URL}bootstrap.js"></script>
<!-- //for bootstrap working -->
</body>
</html>


<!-- <script type="text/javascript">
function goback(){
	 history.go(-1);
}
</script> -->