wywy<!DOCTYPE html>
<html class="login-bg">
    <head>
        <meta charset="utf-8">
        <title>用户登录</title>
        
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        
        <!-- bootstrap -->
        <link href="{$Think.const.ADMIN_CSS_URL}bootstrap/bootstrap.css" rel="stylesheet" />
        <link href="{$Think.const.ADMIN_CSS_URL}bootstrap/bootstrap-responsive.css" rel="stylesheet" />
        <link href="{$Think.const.ADMIN_CSS_URL}bootstrap/bootstrap-overrides.css" type="text/css" rel="stylesheet" />

        <!-- global styles -->
        <link rel="stylesheet" type="text/css" href="{$Think.const.ADMIN_CSS_URL}layout.css" />
        <link rel="stylesheet" type="text/css" href="{$Think.const.ADMIN_CSS_URL}elements.css" />
        <link rel="stylesheet" type="text/css" href="{$Think.const.ADMIN_CSS_URL}icons.css" />

        <!-- libraries -->
        <link rel="stylesheet" type="text/css" href="{$Think.const.ADMIN_CSS_URL}lib/font-awesome.css" />
        
        <!-- this page specific styles -->
        <link rel="stylesheet" href="{$Think.const.ADMIN_CSS_URL}compiled/signin.css" type="text/css" media="screen" />

        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

        <meta name="renderer" content="webkit">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <link rel="stylesheet" type="text/css" href="{$Think.const.SITE_URL}students/Public/Home/layui/css/layui.css">

        <link rel="apple-touch-icon" sizes="76x76" href="{$Think.const.HOME_IMAGES_URL}apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="{$Think.const.HOME_IMAGES_URL}favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="{$Think.const.HOME_IMAGES_URL}favicon-16x16.png">
        <link rel="manifest" href="{$Think.const.HOME_IMAGES_URL}manifest.json">
        <link rel="mask-icon" href="{$Think.const.HOME_IMAGES_URL}safari-pinned-tab.svg" color="#5bbad5">
        <meta name="theme-color" content="#ffffff">
    </head>
    <body>

        <form action="{$Think.const.SITE_URL_L}Home/Index/login" method="post" id="formid" method = 'post'  action = 'user_login_submit.action'>
            <div class="row-fluid login-wrapper">
                <a class="brand"></a>

                <div class="span4 box" style="margin-top:50px;">
                    <div class="content-wrap">
                        <h6>用户登录</h6>
                        <input class="span12" name="username" type="text" placeholder="请输入账号" />
                        <input class="span12" name="password" type="password" placeholder="请输入密码" />
                     <div class="site-demo-button" id="LAY_demo" style="margin-bottom: 0;">   <button class="btn-glow primary  layui-btn layui-btn-normal" type="submit"  
                        data-method="offset" data-type="auto">登录</button></div>
                    </div>

                </div>
            </div>
        </form>

        <!-- scripts -->
        <script src="{$Think.const.ADMIN_JS_URL}jquery-latest.js"></script>
        <script src="{$Think.const.ADMIN_JS_URL}bootstrap.min.js"></script>
        <script src="{$Think.const.ADMIN_JS_URL}theme.js"></script>
        <script src="{$Think.const.SITE_URL}students/Public/Home/layui/layui.js"></script>

        <div class="twitter-comment" style=" position:fixed; bottom:0; left:0; width:100%;color:#8B8989">              
        <p>版权所有 © 浙江科技学院 support@zust.edu.cn 浙ICP备11051284号<br> 地址：浙江·杭州市留和路318号 邮编：310023</p>
        </div>
    </body>
</html>

