<!DOCTYPE html>
<html>
<!-- 导航栏阴影 -->
<style type="text/css">
header{
    box-shadow: -5px 5px 10px #888888;
}
</style>
    
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="教师个人中心">
        <meta name="keyword" content="admin,teacher,information,collect">
        <link rel="shortcut icon" href="{$Think.const.ADMIN_IMGS_URL}favicon.png">
        <title>
            教师个人中心
        </title>
        <!-- Icons -->
        <link href="{$Think.const.ADMIN_CSS_URL}font-awesome.min.css" rel="stylesheet">
        <link href="{$Think.const.ADMIN_CSS_URL}simple-line-icons.css" rel="stylesheet">
        <!-- Main styles for this application -->
        <link href="{$Think.const.ADMIN_CSS_URL}style2.css" rel="stylesheet">
    <link rel="apple-touch-icon" sizes="76x76" href="{$Think.const.HOME_IMAGES_URL}apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="{$Think.const.HOME_IMAGES_URL}favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="{$Think.const.HOME_IMAGES_URL}favicon-16x16.png">
<link rel="manifest" href="{$Think.const.HOME_IMAGES_URL}manifest.json">
<link rel="mask-icon" href="{$Think.const.HOME_IMAGES_URL}safari-pinned-tab.svg" color="#5bbad5">
<meta name="theme-color" content="#ffffff">
</head>
    
    <body class="app header-fixed sidebar-fixed aside-menu-fixed aside-menu-hidden">
        <header class="app-header navbar">
            <button class="navbar-toggler mobile-sidebar-toggler hidden-lg-up" type="button">
                ☰
            </button>
            <a class="navbar-brand" href="{$Think.const.SITE_URL_L}Teachers/Index" style="padding:1rem;"><img src="{$Think.const.ADMIN_IMGS_URL}logohei.png" style=" height: 2rem;float: left;margin-top: -0.1rem;margin-right:0.5rem;">
                <h4 style="color:#494949;">
                    教师个人中心
                </h4>
            </a>
            <ul class="nav navbar-nav ml-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" aria-haspopup="true"
                    aria-expanded="false">
                        账户管理
                    </a>
                    <div class="dropdown-menu dropdown-right text-xs-center">         
                        <a class="dropdown-item" href="{$Think.const.SITE_URL_L}Home/Index/change">
                            修改密码
                        </a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="btn btn-outline" href="{$Think.const.SITE_URL_L}Home/Index/logout"
                    style="margin-right: 1em;">
                        <i class="icon-logout">
                        </i>
                        注销
                    </a>
                </li>
            </ul>
        </header>
        <div class="app-body">
            <div class="sidebar">
                <nav class="sidebar-nav">
                    <ul class="nav">
                        <li class="nav-title">
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{$Think.const.SITE_URL_L}Teachers/Index">
                                <i class="fa fa-cog">
                                </i>
                                我的信息
                            </a>
                        </li>
                        <li class="nav-item nav-dropdown">
                            <a class="nav-link nav-dropdown-toggle" href="#">
                                <i class="fa fa-group">
                                </i>
                                学生信息
                            </a>
                            <ul class="nav-dropdown-items">
                                <li class="nav-item">
                                    <a class="nav-link" href="{$Think.const.SITE_URL_L}Teachers/Index/showlist">
                                        学生列表
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="{$Think.const.SITE_URL_L}Teachers/Index/stu_download">
                                        下载学生信息
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item nav-dropdown">
                            <a class="nav-link nav-dropdown-toggle" href="#">
                                <i class="fa fa-edit">
                                </i>
                                活动管理
                            </a>
                            <ul class="nav-dropdown-items">
                                <li class="nav-item">
                                    <a class="nav-link" href="{$Think.const.SITE_URL_L}Teachers/Index/add">
                                        发布活动
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="{$Think.const.SITE_URL_L}Teachers/Index/actived">
                                        查看发布的活动
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item nav-dropdown">
                            <a class="nav-link nav-dropdown-toggle" href="#">
                                <i class="fa fa-calendar-o">
                                </i>
                                离返校
                            </a>
                            <ul class="nav-dropdown-items">
                                <li class="nav-item">
                                    <a class="nav-link" href="{$Think.const.SITE_URL_L}Teachers/Index/leave">
                                        发布离返校统计
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="{$Think.const.SITE_URL_L}Teachers/Index/leavelist">
                                        查看发布的离返校
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item nav-dropdown">
                            <a class="nav-link nav-dropdown-toggle" href="#">
                                <i class="fa fa-signal">
                                </i>
                                问卷调查
                            </a>
                            <ul class="nav-dropdown-items">
                                <li class="nav-item">
                                    <a class="nav-link" href="{$Think.const.SITE_URL_L}Teachers/Index/form">
                                        发布问卷调查
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="{$Think.const.SITE_URL_L}Teachers/Index/infolist">
                                        查看发布的问卷调查
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </nav>
            </div>
            <!-- Main content -->
            <main class="main">
                <div class="container-fluid animated fadeIn">
                    <div class="card">
                        <div class="card-header">
                            <i class="fa fa-align-justify">
                            </i>
                            个人信息
                        </div>
                        <div class="card-block">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <td style="text-align: center;">
                                            <b>
                                                姓名
                                            </b>
                                        </td>
                                        <td>
                                            {$Think.session.name}
                                        </td>
                                        <td style="text-align: center;">
                                            <b>
                                                性别
                                            </b>
                                        </td>
                                        <td>
                                            {$Think.session.sex}
                                        </td>
                                        <td style="text-align: center;">
                                            <b>
                                                出生年月
                                            </b>
                                        </td>
                                        <td>
                                            {$Think.session.birthday}
                                        </td>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td style="text-align: center;">
                                            <b>
                                                民族
                                            </b>
                                        </td>
                                        <td>
                                            {$Think.session.nation}
                                            </th>
                                            <td style="text-align: center;">
                                                <b>
                                                    办公室
                                                </b>
                                            </td>
                                            <td>
                                                {$Think.session.room}
                                                </th>
                                                <td style="text-align: center;">
                                                    <b>
                                                        家庭住址
                                                    </b>
                                                </td>
                                                <td>
                                                    {$Think.session.address}
                                                </td>
                                    </tr>
                                    <tr>
                                        <td style="text-align: center;">
                                            <b>
                                                工号
                                            </b>
                                        </td>
                                        <td>
                                            {$Think.session.num}
                                            </th>
                                            <td style="text-align: center;">
                                                <b>
                                                    任教科目
                                                </b>
                                            </td>
                                            <td>
                                                {$Think.session.subject}
                                            </td>
                                            <td style="text-align: center;">
                                                <b>
                                                    职称
                                                </b>
                                            </td>
                                            <td>
                                                {$Think.session.jobtitle}
                                            </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
        </div>
        </main>
        </div>
        <footer class="app-footer">

        <p  align="center" style="width: 60%;
            margin: 2em auto 0;
            margin-top:0.8em;
            font-size: 14px;
            text-align: center;
            color: #999;
            line-height: 1.8em;
            font-family: "Microsoft Yahei"
            ">版权所有 © ISchool
        </p>
        
        </footer>
        <!-- Bootstrap and necessary plugins -->
        <script src="{$Think.const.ADMIN_JS_URL}jquery.min.js">
        </script>
        <script src="{$Think.const.ADMIN_JS_URL}tether.min.js">
        </script>
        <script src="{$Think.const.ADMIN_JS_URL}bootstrap.min.js">
        </script>
        <script src="{$Think.const.ADMIN_JS_URL}pace.min.js">
        </script>
        <!-- GenesisUI main scripts -->
        <script src="{$Think.const.ADMIN_JS_URL}app.js">
        </script>
        <!-- Plugins and scripts required by this views -->
        <!-- Custom scripts required by this view -->
        <script src="{$Think.const.ADMIN_JS_URL}views/main.js">
        </script>
        <script type="text/javascript">
            $('.dropdown-toggle').click(function() {
                $(this).next(".dropdown-menu").toggle();
                $.ajax({
                    method: "POST",
                    url: "{$Think.const.SITE_URL_L}teachers/Index/test",
                    dataType: "text",
                    data: {
                        test: {
                            'pl': 's',
                            'fl': 'd'
                        }
                    }
                });
            });
        </script>
    </body>

</html>