
<!DOCTYPE html>
<html>
<!-- 导航栏阴影 -->
<style type="text/css">
header{
    box-shadow: -5px 5px 10px #888888;
}
</style>
    
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="离校统计">
        <meta name="keyword" content="admin,teacher,information,collect">
        <link rel="shortcut icon" href="{$Think.const.ADMIN_IMGS_URL}favicon.png">
        <title>
            发布离返校统计
        </title>
        <!-- Icons -->
        <link href="{$Think.const.ADMIN_CSS_URL}font-awesome.min.css" rel="stylesheet">
        <link href="{$Think.const.ADMIN_CSS_URL}simple-line-icons.css" rel="stylesheet">
        <!-- Main styles for this application -->
        <link href="{$Think.const.ADMIN_CSS_URL}style2.css" rel="stylesheet">
        <!-- <link href="{$Think.const.HOME_CSS_URL}datepicker.css" rel="stylesheet">
        <link href="{$Think.const.HOME_CSS_URL}datepicker.less" rel="stylesheet"> -->
        <link rel="stylesheet" type="text/css" href="{$Think.const.SITE_URL}students/Public/Home/layui/css/layui.css">
        <script src="{$Think.const.SITE_URL}students/Public/Home/layui/layui.js"
        type="text/javascript" charset="utf-8">
        </script>
    <link rel="apple-touch-icon" sizes="76x76" href="{$Think.const.HOME_IMAGES_URL}apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="{$Think.const.HOME_IMAGES_URL}favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="{$Think.const.HOME_IMAGES_URL}favicon-16x16.png">
<link rel="manifest" href="{$Think.const.HOME_IMAGES_URL}manifest.json">
<link rel="mask-icon" href="{$Think.const.HOME_IMAGES_URL}safari-pinned-tab.svg" color="#5bbad5">
<meta name="theme-color" content="#ffffff">
</head>
    
    <body class="app header-fixed sidebar-fixed aside-menu-fixed aside-menu-hidden">
        <header class="app-header navbar">
            <button class="navbar-toggler mobile-sidebar-toggler hidden-lg-up" type="button">
                ☰
            </button>
            <a class="navbar-brand" href="{$Think.const.SITE_URL_L}Teachers/Index" style="padding:1rem;"><img src="{$Think.const.ADMIN_IMGS_URL}logohei.png" style=" height: 2rem;float: left;margin-top: -0.1rem;margin-right:0.5rem;">
                <h4 style="font-size: 1.5rem; color:#494949;">
                    教师个人中心
                </h4>
            </a>
            <ul class="nav navbar-nav ml-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" aria-haspopup="true"
                    aria-expanded="false">
                        账户管理
                    </a>
                    <div class="dropdown-menu dropdown-menu-right text-xs-center">
                        <a class="dropdown-item" href="{$Think.const.SITE_URL_L}Home/Index/change">
                            修改密码
                        </a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="btn btn-outline" href="{$Think.const.SITE_URL_L}Home/Index/logout"
                    style="margin-right: 1em;">
                        <i class="icon-logout">
                        </i>
                        注销
                    </a>
                </li>
            </ul>
        </header>
        <div class="app-body">
            <div class="sidebar">
                <nav class="sidebar-nav">
                    <ul class="nav">
                        <li class="nav-title">
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{$Think.const.SITE_URL_L}Teachers/Index">
                                <i class="fa fa-cog">
                                </i>
                                我的信息
                            </a>
                        </li>
                        <li class="nav-item nav-dropdown">
                            <a class="nav-link nav-dropdown-toggle" href="#">
                                <i class="fa fa-group">
                                </i>
                                学生信息
                            </a>
                            <ul class="nav-dropdown-items">
                                <li class="nav-item">
                                    <a class="nav-link" href="{$Think.const.SITE_URL_L}Teachers/Index/showlist">
                                        学生列表
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="{$Think.const.SITE_URL_L}Teachers/Index/stu_download">
                                        下载学生信息
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item nav-dropdown">
                            <a class="nav-link nav-dropdown-toggle" href="#">
                                <i class="fa fa-edit">
                                </i>
                                活动管理
                            </a>
                            <ul class="nav-dropdown-items">
                                <li class="nav-item">
                                    <a class="nav-link" href="{$Think.const.SITE_URL_L}Teachers/Index/add">
                                        发布活动
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="{$Think.const.SITE_URL_L}Teachers/Index/actived">
                                        查看发布的活动
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item nav-dropdown">
                            <a class="nav-link nav-dropdown-toggle" href="#">
                                <i class="fa fa-calendar-o">
                                </i>
                                离返校
                            </a>
                            <ul class="nav-dropdown-items">
                                <li class="nav-item">
                                    <a class="nav-link" href="{$Think.const.SITE_URL_L}Teachers/Index/leave">
                                        发布离返校统计
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="{$Think.const.SITE_URL_L}Teachers/Index/leavelist">
                                        查看发布的离返校
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item nav-dropdown">
                            <a class="nav-link nav-dropdown-toggle" href="#">
                                <i class="fa fa-signal">
                                </i>
                                问卷调查
                            </a>
                            <ul class="nav-dropdown-items">
                                <li class="nav-item">
                                    <a class="nav-link" href="{$Think.const.SITE_URL_L}Teachers/Index/form">
                                        发布问卷调查
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="{$Think.const.SITE_URL_L}Teachers/Index/infolist">
                                        查看发布的问卷调查
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </nav>
            </div>
            <!-- Main content -->
            <main class="main">
                <div class="container-fluid animated fadeIn">
                    <div class="card">
                        <form action="{$Think.const.SITE_URL_L}teachers/index/leave/id/{$id}"
                        method="post" enctype="multipart/form-data">
                            <div class="card-header">
                                <i class="fa fa-sign-out fa-lg m-t-2">
                                </i>
                                <strong>
                                    发布离返校统计
                                </strong>
                            </div>
                            <div class="card-block col-md-12">
                                <div class="row">
                                    <div class="form-horizontal col-md-9">
                                        <div class="form-group row">
                                            <label class="control-label col-md-2">
                                                标题
                                            </label>
                                            <div class="col-md-4">
                                                <input type="text" name="title" autocomplete="off" placeholder="例：2017年元旦放假离校统计"
                                                class="form-control" required="required">
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="control-label col-md-2">
                                                填报时间
                                            </label>
                                            <div class="col-md-7">
                                                <div class="layui-input-inline" style="float: left;">
                                                    <input type="text" name="start" autocomplete="off"  required="required" class="form-control"
                                                    onclick="layui.laydate({elem: this, istime: true, format: 'YYYY-MM-DD hh:mm:ss'})">
                                                </div>
                                                <div class="layui-form-mid">
                                                    &nbsp;-
                                                </div>
                                                <div class="layui-input-inline">
                                                    <input type="text" name="end" autocomplete="off"  required="required" class="form-control"
                                                    onclick="layui.laydate({elem: this, istime: true, format: 'YYYY-MM-DD hh:mm:ss'})">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="control-label col-md-2">
                                                备注
                                            </label>
                                            <div class="col-md-7">
                                                <textarea id="textarea-input" class="form-control" name="note" rows="5"
                                                placeholder="请输入备注"></textarea>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card-footer">
                                <button type="submit" class="btn btn-success" style="margin-left:12.85%;">
                                    <i class="fa fa-dot-circle-o">
                                    </i>
                                    提交
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </main>
        </div>
        <footer class="app-footer">

        <p  align="center" style="width: 60%;
            margin: 2em auto 0;
            margin-top:0.8em;
            font-size: 14px;
            text-align: center;
            color: #999;
            line-height: 1.8em;
            font-family: "Microsoft Yahei"
            ">版权所有 © ISchool
        </p>
        
        </footer>
        <!-- Bootstrap and necessary plugins -->
        <script src="{$Think.const.ADMIN_JS_URL}jquery.min.js">
        </script>
        <script src="{$Think.const.ADMIN_JS_URL}tether.min.js">
        </script>
        <script src="{$Think.const.ADMIN_JS_URL}bootstrap.min.js">
        </script>
        <script src="{$Think.const.ADMIN_JS_URL}pace.min.js">
        </script>
        <script src="{$Think.const.SITE_URL}students/Public/Home/layui/layui.js"
        type="text/javascript" charset="utf-8">
        </script>
        <script src="{$Think.const.HOME_JS_URL}bootstrap-datepicker.js">
        </script>
        <!-- GenesisUI main scripts -->
        <script src="{$Think.const.ADMIN_JS_URL}app.js">
        </script>
        <!-- Plugins and scripts required by this views -->
        <!-- Custom scripts required by this view -->
        <script src="{$Think.const.ADMIN_JS_URL}views/main.js">
        </script>
        <script type="text/javascript">
            $('.dropdown-toggle').click(function() {
                $(this).next(".dropdown-menu").toggle();
            });
            $(function() {
                $("#datepicker").datepicker();
            });
            layui.config({
                base: '{$Think.const.HOME_JS_URL}modules/'
            }).use('index');
        </script>
    </body>

</html>