<!DOCTYPE html>
<html>
<head>
	<title>活动中心</title>
    
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	
    <!-- bootstrap -->
    <link href="{$Think.const.ADMIN_CSS_URL}bootstrap.css" rel="stylesheet" />
    <link href="{$Think.const.ADMIN_CSS_URL}bootstrap-responsive.css" rel="stylesheet" />
    <link href="{$Think.const.ADMIN_CSS_URL}bootstrap-overrides.css" type="text/css" rel="stylesheet" />

    <link href="{$Think.const.ADMIN_CSS_URL}style.css" rel="stylesheet" type="text/css" media="all" />
    <!-- libraries -->
    <link href="{$Think.const.ADMIN_CSS_URL}lib/jquery-ui-1.10.2.custom.css" rel="stylesheet" type="text/css" />
    <link href="{$Think.const.ADMIN_CSS_URL}lib/font-awesome.css" type="text/css" rel="stylesheet" />

    <!-- global styles -->
    <link rel="stylesheet" type="text/css" href="css/layout.css" />
    <link rel="stylesheet" type="text/css" href="css/elements.css" />
    <link rel="stylesheet" type="text/css" href="css/icons.css" />

    <!-- this page specific styles -->
    <link rel="stylesheet" href="{$Think.const.ADMIN_CSS_URL}compiled/index.css" type="text/css" media="screen" />    
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" /><link rel="apple-touch-icon" sizes="76x76" href="{$Think.const.HOME_IMAGES_URL}apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="{$Think.const.HOME_IMAGES_URL}favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="{$Think.const.HOME_IMAGES_URL}favicon-16x16.png">
<link rel="manifest" href="{$Think.const.HOME_IMAGES_URL}manifest.json">
<link rel="mask-icon" href="{$Think.const.HOME_IMAGES_URL}safari-pinned-tab.svg" color="#5bbad5">
<meta name="theme-color" content="#ffffff">
</head>
<body>

    <!-- navbar -->
    

	<!-- main container -->
    <div class="content">
 <div class="single" style="margin-left: -10px;">
        <div class="container">
            <div class="col-md-7 blog-left" >
                <div class="blog-left-grid">
                    <h1>我已报名的活动</h1>
                    
                </div>
                
            </div>
            </div>
            </div>
            <div class="grid_3 grid_5" style="padding-top:0;padding-left: 50px;padding-right: 60px;">
                        <div class="bs-example bs-example-tabs" role="tabpanel" data-example-id="togglable-tabs" style="">
                            <!-- <ul id="myTab" class="nav nav-tabs" role="tablist"> -->
                                <!-- <li role="presentation" class="active"> --><!-- <a href="#undoing" id="undoing-tab" role="tab" data-toggle="tab" aria-controls="undoing" aria-expanded="true">已发布的活动</a></li> -->
                            <!-- </ul> -->
                            <div id="myTabContent" class="tab-content">
                                <div role="tabpanel" class="tab-pane fade in active" id="undoing" aria-labelledby="undoing-tab">
                                    <div class="categories">
                                        <ul>
                                <volist name="result" id="vo" >
                                            <li style="list-style-type:none;"><a href="{$Think.const.SITE_URL_L}home/index/detailed/id/{$vo.id}" target="_blank">{$vo.title}</a><span>{$vo.time}</span></li>
                                </volist>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
    <div class="pagination pull-right">
                 
                        {$page}
                
            </div>

                <!-- end table sample -->
            </div>

        </div>
    </div>
    </div>



	<!-- scripts -->
    <script src="js/jquery-latest.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/jquery-ui-1.10.2.custom.min.js"></script>
    <!-- knob -->
    <script src="js/jquery.knob.js"></script>
    <!-- flot charts -->
    <script src="js/jquery.flot.js"></script>
    <script src="js/jquery.flot.stack.js"></script>
    <script src="js/jquery.flot.resize.js"></script>
    <script src="js/theme.js"></script>

   

</body>
</html>