<!DOCTYPE html>
<html>
<head>
	<title>发布活动</title>
	<!-- for-mobile-apps -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="keywords" content="" />
	<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
			function hideURLbar(){ window.scrollTo(0,1); } </script>
	<!-- //for-mobile-apps -->
	<link href="{$Think.const.HOME_CSS_URL}bootstrap.css" rel="stylesheet" type="text/css" media="all" />
	<link href="{$Think.const.HOME_CSS_URL}style.css" rel="stylesheet" type="text/css" media="all" />
	<link rel="stylesheet" type="text/css" href="{$Think.const.SITE_URL}students/Public/Home/layui/css/layui.css">
	<!-- js -->
	<script src="{$Think.const.HOME_JS_URL}jquery-1.11.1.min.js"></script>
	 
	<script src="{$Think.const.SITE_URL}students/Public/Home/layui/layui.js" type="text/javascript" charset="utf-8"></script>

	<script>
	layui.config({
		base: '{$Think.const.HOME_JS_URL}modules/'
	}).use('index'); 
	</script>

<link rel="apple-touch-icon" sizes="76x76" href="{$Think.const.HOME_IMAGES_URL}apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="{$Think.const.HOME_IMAGES_URL}favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="{$Think.const.HOME_IMAGES_URL}favicon-16x16.png">
<link rel="manifest" href="{$Think.const.HOME_IMAGES_URL}manifest.json">
<link rel="mask-icon" href="{$Think.const.HOME_IMAGES_URL}safari-pinned-tab.svg" color="#5bbad5">
<meta name="theme-color" content="#ffffff">
</head>
	
<body style="height: 800px;">

	
	<div class="content">
    
    <div class="single" style="margin-left: -10px;">
		<div class="container">
			<div class="col-md-7 blog-left" >
				<div class="blog-left-grid">
					<h1>我填写的离返校统计</h1>
					
				</div>
				
			</div>
			</div>
			</div>
            <div class="grid_3 grid_5" style="padding-top:0;padding-left: 50px;padding-right: 60px;">
                        <div class="bs-example bs-example-tabs" role="tabpanel" data-example-id="togglable-tabs" style="">
                            <!-- <ul id="myTab" class="nav nav-tabs" role="tablist"> -->
                                <!-- <li role="presentation" class="active"> --><!-- <a href="#undoing" id="undoing-tab" role="tab" data-toggle="tab" aria-controls="undoing" aria-expanded="true">已发布的活动</a></li> -->
                            <!-- </ul> -->
                            <div id="myTabContent" class="tab-content">
                                <div role="tabpanel" class="tab-pane fade in active" id="undoing" aria-labelledby="undoing-tab">
                                    <div class="categories">
                                        <ul>
                               	<volist name="list" id="vo">
                                            <li><a href="#">{$vo.title}</a><span><a href="{$Think.const.SITE_URL_L}students/index/updateleave/id/{$vo.id}" target="right">修改</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{$vo.edit_time}</span></li>
                                      </volist>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="yahoo2">
						{$page}
                    </div>
	
	</div>

<!-- scroll_top_btn -->
		<script type="text/javascript" src="{$Think.const.HOME_JS_URL}move-top.js"></script>
		<script type="text/javascript" src="{$Think.const.HOME_JS_URL}easing.js"></script>
	   
<!--end scroll_top_btn -->
<!-- for bootstrap working -->
	<script src="{$Think.const.HOME_JS_URL}bootstrap.js"></script>
<!-- //for bootstrap working -->
	<script>
		function del()
		{
			if(confirm("确定要删除该统计吗？"))
			{
				return true;
			}
			else
			{
				return false;
			}
		}
	</script>

	

<!-- <script>
layui.use('upload', function(){
  layui.upload({
    url: '' //上传接口
    ,success: function(res){ //上传成功后的回调
      console.log(res)
    }
  });
  
  layui.upload({
    url: '/test/upload.json'
    ,elem: '#test' //指定原始元素，默认直接查找class="layui-upload-file"
    ,method: 'get' //上传接口的http类型
    ,success: function(res){
      LAY_demo_upload.src = res.url;
    }
  });
});
</script> -->
</body>
</html>