<!DOCTYPE html>
<html>
<head>
    <title>学生个人中心</title>
    

    
    <!-- bootstrap -->
    <link href="{$Think.const.ADMIN_CSS_URL}bootstrap/bootstrap.css" rel="stylesheet" />
    <link href="{$Think.const.ADMIN_CSS_URL}bootstrap/bootstrap-responsive.css" rel="stylesheet" />
    <link href="{$Think.const.ADMIN_CSS_URL}bootstrap/bootstrap-overrides.css" type="text/css" rel="stylesheet" />

    <!-- libraries -->
    <link href="{$Think.const.ADMIN_CSS_URL}lib/jquery-ui-1.10.2.custom.css" rel="stylesheet" type="text/css" />
    <link href="{$Think.const.ADMIN_CSS_URL}lib/font-awesome.css" type="text/css" rel="stylesheet" />

    <!-- global styles -->
    <link rel="stylesheet" type="text/css" href="{$Think.const.ADMIN_CSS_URL}layout.css" />
    <link rel="stylesheet" type="text/css" href="{$Think.const.ADMIN_CSS_URL}elements.css" />
    <link rel="stylesheet" type="text/css" href="{$Think.const.ADMIN_CSS_URL}icons.css" />

    <!-- this page specific styles -->
    <link rel="stylesheet" href="{$Think.const.ADMIN_CSS_URL}compiled/index.css" type="text/css" media="screen" />

    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" /><link rel="apple-touch-icon" sizes="76x76" href="{$Think.const.HOME_IMAGES_URL}apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="{$Think.const.HOME_IMAGES_URL}favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="{$Think.const.HOME_IMAGES_URL}favicon-16x16.png">
<link rel="manifest" href="{$Think.const.HOME_IMAGES_URL}manifest.json">
<link rel="mask-icon" href="{$Think.const.HOME_IMAGES_URL}safari-pinned-tab.svg" color="#5bbad5">
<meta name="theme-color" content="#ffffff">
</head>
<body>

    <!-- navbar -->
    <div class="navbar navbar-inverse" style="float: left;">
        <div class="navbar-inner">
       
            <a class="brand" href="index.html" style="font-weight:700;font-family:Microsoft Yahei">学生个人中心</a>

           
        </div>
    </div>
    <!-- end navbar -->

    <!-- sidebar -->
    <div style="">
        <ul id="dashboard-menu">
            <li class="active">
                <div class="pointer">
                    <div class="arrow"></div>
                    <div class="arrow_border"></div>
                </div>
                <a href="index.html">
                    <i class="icon-home"></i>
                    <span>学生中心</span>
                </a>
            </li>                       
            <li>
                <a class="dropdown-toggle" href="#">
                    <i class="icon-edit"></i>
                    <span>活动管理</span>
                    <i class="icon-chevron-down"></i>
                </a>
                <ul class="submenu">
                    <li><a href="active.">已填报的活动</a></li>
                    <li><a href="#">已填报信息</a></li>
                
                </ul>
            </li>
            <li>
                <a href="personal-info.html">
                    <i class="icon-cog"></i>
                    <span>我的信息</span>
                </a>
            </li>
            
        </ul>
    </div>
    <div>
    <button type="button" class="btn btn-success" style="float: right;">修改信息</button>
                </div>
    <!-- end sidebar -->


    <!-- main container -->
   
   


    <!-- scripts -->
    <script src="{$Think.const.ADMIN_JS_URL}jquery-latest.js"></script>
    <script src="{$Think.const.ADMIN_JS_URL}bootstrap.min.js"></script>
    <script src="{$Think.const.ADMIN_JS_URL}jquery-ui-1.10.2.custom.min.js"></script>
    <!-- knob -->
    <script src="{$Think.const.ADMIN_JS_URL}jquery.knob.js"></script>
    <!-- flot charts -->
    <script src="{$Think.const.ADMIN_JS_URL}jquery.flot.js"></script>
    <script src="{$Think.const.ADMIN_JS_URL}jquery.flot.stack.js"></script>
    <script src="{$Think.const.ADMIN_JS_URL}jquery.flot.resize.js"></script>
    <script src="{$Think.const.ADMIN_JS_URL}theme.js"></script>

</body>
</html>