<!DOCTYPE html>

<html>
<head>
    <title>教师个人中心</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- bootstrap -->
    <link href="{$Think.const.ADMIN_CSS_URL}bootstrap/bootstrap.css" rel="stylesheet" />
<link rel="apple-touch-icon" sizes="76x76" href="{$Think.const.HOME_IMAGES_URL}apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="{$Think.const.HOME_IMAGES_URL}favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="{$Think.const.HOME_IMAGES_URL}favicon-16x16.png">
<link rel="manifest" href="{$Think.const.HOME_IMAGES_URL}manifest.json">
<link rel="mask-icon" href="{$Think.const.HOME_IMAGES_URL}safari-pinned-tab.svg" color="#5bbad5">
<meta name="theme-color" content="#ffffff">
</head>
<body>
    <div class="row">
        <div class="container-fluid">
            <button class="btn btn-primary btn-block" onclick="location.href='{$Think.const.SITE_URL_L}students/index/leave'">
              离校
            </button>
            <button class="btn btn-primary btn-block" onclick="stay()">
              留校
            </button>
        </div>
    </div>
    <script>
        function stay() {
          window.str = "留校";
          $.ajax({
            method: "POST",
            url: "{$Think.const.SITE_URL_L}students/index/los",
            dataType: "text",
            data: {register: str}
          });
        }
    </script>
    <script src="{$Think.const.HOME_JS_URL}jquery-1.11.1.min.js"></script>
</body>
</html>
