<!DOCTYPE html>
<html>
<head>
	<title>统计</title>
	<!-- for-mobile-apps -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="keywords" content="" />
	<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
			function hideURLbar(){ window.scrollTo(0,1); } </script>
	<!-- //for-mobile-apps -->
	<link href="{$Think.const.HOME_CSS_URL}bootstrap.css" rel="stylesheet" type="text/css" media="all" />
	<link href="{$Think.const.HOME_CSS_URL}style.css" rel="stylesheet" type="text/css" media="all" />
	<link rel="stylesheet" type="text/css" href="{$Think.const.SITE_URL}students/Public/Home/layui/css/layui.css">
	<!-- js -->
	<script src="{$Think.const.HOME_JS_URL}jquery-1.11.1.min.js"></script>

	<script src="{$Think.const.SITE_URL}students/Public/Home/layui/layui.js" type="text/javascript" charset="utf-8"></script>

	<script>
	layui.config({
		base: '{$Think.const.HOME_JS_URL}modules/'
	}).use('index');
	</script>
	<script src="http://webapi.amap.com/maps?v=1.3&amp;key=14b3a18e6f0b81dba2f5262d932c9490&callback=init"></script>
<link rel="apple-touch-icon" sizes="76x76" href="{$Think.const.HOME_IMAGES_URL}apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="{$Think.const.HOME_IMAGES_URL}favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="{$Think.const.HOME_IMAGES_URL}favicon-16x16.png">
<link rel="manifest" href="{$Think.const.HOME_IMAGES_URL}manifest.json">
<link rel="mask-icon" href="{$Think.const.HOME_IMAGES_URL}safari-pinned-tab.svg" color="#5bbad5">
<meta name="theme-color" content="#ffffff">
</head>

<body>


	<div class="content">

    <div class="single">
		<div class="container">
			<div class="col-md-7 blog-left" >
				<div class="blog-left-grid">
					<h1>离返校签到</h1>

				</div>

			</div>
		</div>
	</div>

	<div id="iCenter" style="width:100%; height:500px"></div>
		<div  style="float: right;margin-top: 10px;margin-right: 10px;">
			<button   id="leavehere" class="btn btn-default btn btn-success" type="submit" onclick="leave()">我已经到啦</button>

		</div>
	</div>
<!--end scroll_top_btn -->
<!-- for bootstrap working -->



<script>
$(document).ready(function(){
	window.called = false;
   	window.mapObj = new AMap.Map('iCenter');
	mapObj.plugin('AMap.Geolocation', function () {
    window.geolocation = new AMap.Geolocation({
        enableHighAccuracy: true,//是否使用高精度定位，默认:true
        timeout: 10000,          //超过10秒后停止定位，默认：无穷大
        maximumAge: 0,           //定位结果缓存0毫秒，默认：0
        convert: true,           //自动偏移坐标，偏移后的坐标为高德坐标，默认：true
        showButton: true,        //显示定位按钮，默认：true
        buttonPosition: 'LB',    //定位按钮停靠位置，默认：'LB'，左下角
        buttonOffset: new AMap.Pixel(10, 20),//定位按钮与设置的停靠位置的偏移量，默认：Pixel(10, 20)
        showMarker: true,        //定位成功后在定位到的位置显示点标记，默认：true
        showCircle: true,        //定位成功后用圆圈表示定位精度范围，默认：true
        panToLocation: true,     //定位成功后将定位到的位置作为地图中心点，默认：true
        zoomToAccuracy:true      //定位成功后调整地图视野范围使定位位置及精度范围视野内可见，默认：false
    });
    mapObj.addControl(geolocation);
    AMap.event.addListener(geolocation, 'complete', onComplete);//返回定位信息
    AMap.event.addListener(geolocation, 'error', onError);      //返回定位出错信息
});

	function onComplete(data) {
        // var str=['定位成功'];
        window.longitude = data.position.getLng();
        window.latitude = data.position.getLat();
        called = true;
        // str.push('经度：' + data.position.getLng());
        // str.push('纬度：' + data.position.getLat());
        // if(data.accuracy){
        //      str.push('精度：' + data.accuracy + ' 米');
        // }//如为IP精确定位结果则没有精度信息
        // str.push('是否经过偏移：' + (data.isConverted ? '是' : '否'));
        // document.getElementById('iCenter').innerHTML = str.join('<br>');
        
    }
    //解析定位错误信息
    function onError(data) {
        document.getElementById('iCenter').innerHTML = '定位失败';
        alert('定位失败，请重试');
    }

   
	// var x = document.getElementById("iCenter");

	// function getLocation() {
	//     if (navigator.geolocation) {
	//         navigator.geolocation.watchPosition(showPosition);
	//     } else {
	//         x.innerHTML = "Geolocation is not supported by this browser.";}
	//     }

	// function showPosition(position) {
	//     x.innerHTML="Latitude: " + position.coords.latitude +
	//     "<br>Longitude: " + position.coords.longitude;
	// 		$.ajax({
	// 		    type: "POST",
	// 				url: "192.168.1.111/item/students/index.php/students/index/map",//写成自己的
	// 				data: {
	// 					latitude: position.coords.latitude,
	// 					longitude: position.coords.longitude,
	// 				},
	// 			dataType: "json",
	// 		});
	// }

});

	function leave() {
		if (!called) {
			alert("请先定位");
		}
		var latmax = 30.674197;
		var latmin = 30.668918;
		var lngmax = 119.622942;
		var lngmin = 119.613694;
		var condition = latitude <= latmax && latitude >= latmin && longitude <= lngmax && longitude >= lngmin;

		if (condition) {
			window.isLeft = 1;
			window.lfstr = "已到校";
		} else {
			window.isLeft = 0;
			window.lfstr = "未到校";
		}

		if (isLeft) {
			alert("签到成功");
		} else {
			alert("签到失败");
		}

		$.ajax({
			method: "POST",
			url: "{$Think.const.SITE_URL_L}students/index/map",
			dataType: "text",
			data: {register: lfstr}
		});
	}



</script>

<!-- <?php
	$lat=(isset($_GET['lat']))?$_GET['lat']:'';
	$long=(isset($GET['long']))?$_GET['long']:'';
?> -->

	<script src="js/bootstrap.js"></script>
<!-- //for bootstrap working -->
</body>
</html>
